.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
!docs/.vitepress/public/
.deploy*/
_multiconfig.yml
.idea

docs/.vitepress/dist/
docs/.vitepress/cache/

# 自动生成的文件
docs/public/*.json
docs/public/*.xml